# Week 4 - Working with Data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames, Random

In [2]:
# Seed the random number generator
Random.seed!(1234);

In [3]:
# Question 1: Create a dataframe named df1 with 30 rows and 4 columns
ID=range(1,length=30,step=1)
var1=rand(Normal(), 30)
var2=rand(Normal(10,2), 30)
var3=rand(5:15,30)
df=DataFrame(Id=ID,Var1=var1,Var2=var2,Var3=var3)

30×4 DataFrame
│ Row │ Id    │ Var1       │ Var2    │ Var3  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┤
│ 1   │ 1     │ 0.867347   │ 7.44066 │ 6     │
│ 2   │ 2     │ -0.901744  │ 11.9946 │ 10    │
│ 3   │ 3     │ -0.494479  │ 10.6048 │ 14    │
│ 4   │ 4     │ -0.902914  │ 9.92711 │ 7     │
│ 5   │ 5     │ 0.864401   │ 10.2839 │ 10    │
│ 6   │ 6     │ 2.21188    │ 11.0425 │ 15    │
│ 7   │ 7     │ 0.532813   │ 11.7935 │ 10    │
│ 8   │ 8     │ -0.271735  │ 8.97294 │ 12    │
│ 9   │ 9     │ 0.502334   │ 8.4704  │ 12    │
│ 10  │ 10    │ -0.516984  │ 6.91715 │ 13    │
⋮
│ 20  │ 20    │ -1.50343   │ 8.91239 │ 15    │
│ 21  │ 21    │ 1.56417    │ 7.54655 │ 15    │
│ 22  │ 22    │ -1.39674   │ 8.91657 │ 5     │
│ 23  │ 23    │ 1.1055     │ 8.62701 │ 8     │
│ 24  │ 24    │ -1.10673   │ 8.57414 │ 12    │
│ 25  │ 25    │ -3.21136   │ 9.34588 │ 10    │
│ 26  │ 26    │ -0.0740145 │ 11.0297 │ 12    │
│ 27  │ 27    │ 0.150976   │ 14.8349 │ 9     │
│ 28  │ 28    │ 0.769278   │ 9.38405 │ 12    │
│ 29  │ 29    │ -0.310153  │ 12.4906 │ 7     │
│ 30  │ 30    │ -0.602707  │ 9.9001  │ 10    │

In [4]:
# Question 2: Calculate mean and variance of each column of df1
for i = 1:4
    m=df[:,i]
    me=mean(m)
    va=var(m)
    if i ==1
        print("The mean of column ID is ",me ,"\n")
        print("The variance of column ID is ",va ,"\n")
    end
    if i==2
        print("The mean of column Var1 is ",me ,"\n")
        print("The variance of column Var1 is ",va ,"\n")
    end
    if i==3
        print("The mean of column Var2 is ",me ,"\n")
        print("The variance of column Var2 is ",va ,"\n")
    end
    if i==4
        print("The mean of column Var3 is ",me ,"\n")
        print("The variance of column Var3 is ",va ,"\n")
    end   
    
end

The mean of column ID is 15.5
The variance of column ID is 77.5
The mean of column Var1 is -0.061674963752526096
The variance of column Var1 is 1.1790054448274625
The mean of column Var2 is 9.580613055613338
The variance of column Var2 is 2.948790077536739
The mean of column Var3 is 10.466666666666667
The variance of column Var3 is 10.188505747126435

In [5]:
# Question 3: Create a new dataframe named df2 from the last 20 rows of df1
df2=DataFrame(df[11:30,:])

20×4 DataFrame
│ Row │ Id    │ Var1       │ Var2    │ Var3  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┤
│ 1   │ 11    │ -0.560501  │ 9.83968 │ 15    │
│ 2   │ 12    │ -0.0192918 │ 7.81756 │ 6     │
│ 3   │ 13    │ 0.128064   │ 8.83897 │ 11    │
│ 4   │ 14    │ 1.85278    │ 9.36913 │ 12    │
│ 5   │ 15    │ -0.827763  │ 7.2771  │ 12    │
│ 6   │ 16    │ 0.110096   │ 9.77109 │ 5     │
│ 7   │ 17    │ -0.251176  │ 10.3317 │ 15    │
│ 8   │ 18    │ 0.369714   │ 9.18312 │ 7     │
│ 9   │ 19    │ 0.0721164  │ 7.98043 │ 7     │
│ 10  │ 20    │ -1.50343   │ 8.91239 │ 15    │
│ 11  │ 21    │ 1.56417    │ 7.54655 │ 15    │
│ 12  │ 22    │ -1.39674   │ 8.91657 │ 5     │
│ 13  │ 23    │ 1.1055     │ 8.62701 │ 8     │
│ 14  │ 24    │ -1.10673   │ 8.57414 │ 12    │
│ 15  │ 25    │ -3.21136   │ 9.34588 │ 10    │
│ 16  │ 26    │ -0.0740145 │ 11.0297 │ 12    │
│ 17  │ 27    │ 0.150976   │ 14.8349 │ 9     │
│ 18  │ 28    │ 0.769278   │ 9.38405 │ 12    │
│ 19  │ 29    │ -0.310153  │ 12.4906 │ 7     │
│ 20  │ 30    │ -0.602707  │ 9.9001  │ 10    │

In [6]:
# Question 4: Calculate a simple descriptive statistics on df2 using the describe() function
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
│     │ Symbol   │ Float64   │ Real     │ Float64    │ Real    │ Nothing │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ Id       │ 20.5      │ 11       │ 20.5       │ 30      │         │
│ 2   │ Var1     │ -0.187058 │ -3.21136 │ -0.0466532 │ 1.85278 │         │
│ 3   │ Var2     │ 9.49853   │ 7.2771   │ 9.2645     │ 14.8349 │         │
│ 4   │ Var3     │ 10.25     │ 5        │ 10.5       │ 15      │         │

In [7]:
# Question 5: Add a column named cat1 to df2 consisting of a random selection of 20 values from the sample space "GroupA" and "GroupB"
GroupA=rand(1000:2000,10)
GroupB=rand(500:1000,10)
cat1=Array{Any}(undef,20)
cat1[1:10]=rand(GroupA,10)
cat1[11:20]=rand(GroupB,10)
df2[:,:Cat1]=cat1
df2

20×5 DataFrame
│ Row │ Id    │ Var1       │ Var2    │ Var3  │ Cat1 │
│     │ Int64 │ Float64    │ Float64 │ Int64 │ Any  │
├─────┼───────┼────────────┼─────────┼───────┼──────┤
│ 1   │ 11    │ -0.560501  │ 9.83968 │ 15    │ 1602 │
│ 2   │ 12    │ -0.0192918 │ 7.81756 │ 6     │ 1951 │
│ 3   │ 13    │ 0.128064   │ 8.83897 │ 11    │ 1895 │
│ 4   │ 14    │ 1.85278    │ 9.36913 │ 12    │ 1849 │
│ 5   │ 15    │ -0.827763  │ 7.2771  │ 12    │ 1476 │
│ 6   │ 16    │ 0.110096   │ 9.77109 │ 5     │ 1284 │
│ 7   │ 17    │ -0.251176  │ 10.3317 │ 15    │ 1476 │
│ 8   │ 18    │ 0.369714   │ 9.18312 │ 7     │ 1951 │
│ 9   │ 19    │ 0.0721164  │ 7.98043 │ 7     │ 1951 │
│ 10  │ 20    │ -1.50343   │ 8.91239 │ 15    │ 1951 │
│ 11  │ 21    │ 1.56417    │ 7.54655 │ 15    │ 617  │
│ 12  │ 22    │ -1.39674   │ 8.91657 │ 5     │ 725  │
│ 13  │ 23    │ 1.1055     │ 8.62701 │ 8     │ 859  │
│ 14  │ 24    │ -1.10673   │ 8.57414 │ 12    │ 725  │
│ 15  │ 25    │ -3.21136   │ 9.34588 │ 10    │ 617  │
│ 16  │ 26    │ -0.0740145 │ 11.0297 │ 12    │ 554  │
│ 17  │ 27    │ 0.150976   │ 14.8349 │ 9     │ 554  │
│ 18  │ 28    │ 0.769278   │ 9.38405 │ 12    │ 725  │
│ 19  │ 29    │ -0.310153  │ 12.4906 │ 7     │ 840  │
│ 20  │ 30    │ -0.602707  │ 9.9001  │ 10    │ 859  │

In [8]:
# Question 6: Create a new dataframe df3 with columns named "id", "var4" and "var5"
df3=DataFrame(Id=range(11,length=20,step=1),var4=range(21,length=20,step=1),var5=range(41,length=20,step=1))

20×3 DataFrame
│ Row │ Id    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │
│ 6   │ 16    │ 26    │ 46    │
│ 7   │ 17    │ 27    │ 47    │
│ 8   │ 18    │ 28    │ 48    │
│ 9   │ 19    │ 29    │ 49    │
│ 10  │ 20    │ 30    │ 50    │
│ 11  │ 21    │ 31    │ 51    │
│ 12  │ 22    │ 32    │ 52    │
│ 13  │ 23    │ 33    │ 53    │
│ 14  │ 24    │ 34    │ 54    │
│ 15  │ 25    │ 35    │ 55    │
│ 16  │ 26    │ 36    │ 56    │
│ 17  │ 27    │ 37    │ 57    │
│ 18  │ 28    │ 38    │ 58    │
│ 19  │ 29    │ 39    │ 59    │
│ 20  │ 30    │ 40    │ 60    │

In [9]:
# Question 7: Join df2 and df3 on the ID column and save the results as a new dataframe named df4 (hint: you can use innerjoin).
df4 = innerjoin(df2,df3,on=:Id);
df4

20×7 DataFrame
│ Row │ Id    │ Var1       │ Var2    │ Var3  │ Cat1 │ var4  │ var5  │
│     │ Int64 │ Float64    │ Float64 │ Int64 │ Any  │ Int64 │ Int64 │
├─────┼───────┼────────────┼─────────┼───────┼──────┼───────┼───────┤
│ 1   │ 11    │ -0.560501  │ 9.83968 │ 15    │ 1602 │ 21    │ 41    │
│ 2   │ 12    │ -0.0192918 │ 7.81756 │ 6     │ 1951 │ 22    │ 42    │
│ 3   │ 13    │ 0.128064   │ 8.83897 │ 11    │ 1895 │ 23    │ 43    │
│ 4   │ 14    │ 1.85278    │ 9.36913 │ 12    │ 1849 │ 24    │ 44    │
│ 5   │ 15    │ -0.827763  │ 7.2771  │ 12    │ 1476 │ 25    │ 45    │
│ 6   │ 16    │ 0.110096   │ 9.77109 │ 5     │ 1284 │ 26    │ 46    │
│ 7   │ 17    │ -0.251176  │ 10.3317 │ 15    │ 1476 │ 27    │ 47    │
│ 8   │ 18    │ 0.369714   │ 9.18312 │ 7     │ 1951 │ 28    │ 48    │
│ 9   │ 19    │ 0.0721164  │ 7.98043 │ 7     │ 1951 │ 29    │ 49    │
│ 10  │ 20    │ -1.50343   │ 8.91239 │ 15    │ 1951 │ 30    │ 50    │
│ 11  │ 21    │ 1.56417    │ 7.54655 │ 15    │ 617  │ 31    │ 51    │
│ 12  │ 22    │ -1.39674   │ 8.91657 │ 5     │ 725  │ 32    │ 52    │
│ 13  │ 23    │ 1.1055     │ 8.62701 │ 8     │ 859  │ 33    │ 53    │
│ 14  │ 24    │ -1.10673   │ 8.57414 │ 12    │ 725  │ 34    │ 54    │
│ 15  │ 25    │ -3.21136   │ 9.34588 │ 10    │ 617  │ 35    │ 55    │
│ 16  │ 26    │ -0.0740145 │ 11.0297 │ 12    │ 554  │ 36    │ 56    │
│ 17  │ 27    │ 0.150976   │ 14.8349 │ 9     │ 554  │ 37    │ 57    │
│ 18  │ 28    │ 0.769278   │ 9.38405 │ 12    │ 725  │ 38    │ 58    │
│ 19  │ 29    │ -0.310153  │ 12.4906 │ 7     │ 840  │ 39    │ 59    │
│ 20  │ 30    │ -0.602707  │ 9.9001  │ 10    │ 859  │ 40    │ 60    │